/*

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

*/


@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #979292;
  font-size: 35px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}


ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #ffc200 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.8em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 14px ;
  font-size: 20px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  height: 57px;
  width: 40%;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #ffc200;
}

.animated-item{
  font-size: 36px;
  width: 165%;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 22px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
  /* font-size: ; */
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'unicons';
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: '\e833';
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: '\e836';
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #ffc200;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #ffc200;
}
.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #ffc200;
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }
  .about-image {
    margin-top: 4em;
  }


  
  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#Skills-container{
  display: flex;
  min-width: 300px;
  text-align: center;
 -webkit-justify-content: center;
 justify-content: center;
 -webkit-flex-direction: column;
 flex-direction: column;
 padding: 30px 0;
 border-bottom: 1px solid #f2f2f2;
/* background-color: #fafafa; */
 background-color: #c0b4b4;
 border-radius: 20px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Skills-heading{
text-align: center;
 font-size: 2.8rem;
  font-weight: 600;
margin-bottom: 25px;
}

.Skills-aligner{
max-width: 1100px;
margin: auto;
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-justify-content: space-evenly;
justify-content: space-evenly;
}
.Skills-aligner>div>img {
  width: 80px;
  height: 80px;
}
.Skills-aligner>div {
  margin: 10px 20px;
  padding: 20px;
  /* width: 100px;
  height: 100px; */
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 5px 5px 8px #e6e6e6;
  text-align: center;
}
.Skills-aligner>div>img:hover{
  /* background-color: red; */
  width: 73px;
  height: 73px;
  /* margin: 14px 24px; */
 

}

.Skills-title{
  font-weight: 300;
  font-weight: bold;
  /* border: 1px solid black; */
  
  padding-left:15%;
  text-align: center;
}


@media only screen and (max-width: 630px) {
  .heading {
    font-size: 25px;
  }
  .aligner > div {
    margin: 10px 5px;
  }
}


#ds{
  width: max-content;
}

#one{
  position: relative;
  /* width: 85%; */
  /* margin: auto; */
  /* width: 46%; */
  /* margin: 5px 5px 5px 5px; */
  height: 375px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
 }



 #contact {
  width: 100%;
  position: relative;
  background: #10101a;
  padding: 40px;
}
footer {
  width: 75%;
  position: relative;
  margin: auto;
  color: #fff;
}

footer h1 {
  font-size: 46px;
}

footer p {
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 15px 0;
}

footer .fade {
  font-size: 18px;
  color: #d1d1d1;
  margin: 10px 0;
}

footer .accounts {
  height: 80px;
  width: 1060px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          row-gap: 20px;
}

footer .accounts div, footer .accounts div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

footer .accounts div:hover > i, footer .accounts div a:hover > i {
  padding-bottom: 12px;
}

footer .accounts div a {
  text-decoration: none;
  color: #fff;
}

footer .accounts div i {
  padding-bottom: 8px;
  font-size: 29px;
}

.hidetxt {
  display: none;
}
.rights {
  color: #ccc;
  font-size: 17px;
  text-align: center;
}


.topbtn {
  background: #3a6fe2;
  position: relative;
  width: 120px;
  height: 45px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: auto;
  border-radius: 4px;
  border: 2px solid #3a6fe2;
}

.topbtn a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.topbtn:hover {
  background: #fff;
}

.topbtn:hover > a {
  color: #3a6fe2;
  font-weight: bold;
}

@media (max-width: 1030px) {
  .myselfLeft h1 {
    font-size: 53px;
  }
  .myselfLeft p, .myselfLeft .resume span {
    font-size: 19px;
    line-height: 1.6;
  }
  #about .aboutme {
    width: 100%;
    padding: 0 15px;
  }
  .skillsdiv {
    width: 100%;
    padding: 0 15px;
  }
  #project .projectsdiv {
    width: 100%;
    padding: 0 15px;
  }
  #project .project1 img {
    width: 350px;
  }
  #project .project1 .projdetals {
    width: 300px;
  }
  #project .project1 h1 {
    font-size: 26px;
  }
  #project .project1 ul li {
    line-height: 1.1;
    font-size: 16px;
  }
  #contact {
    padding: 40px 15px;
  }
  #contact footer {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .s1 nav {
    height: 50px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s1 nav .navbar {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .s1 nav .navbar .navLeft .logo {
    height: 30px;
  }
  .s1 .myself {
    width: 100%;
    padding: 15px;
    height: 420px;
  }
  .myselfLeft p, .myselfLeft .resume span {
    font-size: 15px;
    line-height: 1.6;
  }
  .myselfLeft h1 {
    font-size: 33px;
  }
  .myselfRight {
    position: relative;
    width: 40%;
  }
  .s1 nav .navRight {
    width: 80%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .i {
    font-size: 28px !important;
  }
  .s1 nav .navRightlink a {
    padding-bottom: 0;
  }
  .s1 nav .navRightlink a:hover {
    padding-bottom: 0;
    border: none;
  }
  #project .project1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #project .project1 img {
    width: 100%;
  }
  #project .project1 .projdetals {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
  }
  #project .project1 ul li {
    line-height: 1.5;
    font-size: 17px;
  }
  footer h1 {
    font-size: 34px;
  }
  footer p {
    font-size: 18px;
    line-height: 1.4;
    margin: 15px 0;
  }
  footer .accounts {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hidetxt {
    display: block;
  }
}

@media (max-width: 590px) {
  .s1 nav .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .s1 nav .navRightlink {
    display: none;
  }
  #sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebardiv {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  .myselfLeft h1 {
    font-size: 38px;
  }
  .myselfLeft p, .myselfLeft .resume span {
    font-size: 18px;
    line-height: 1.7;
  }
  .s1 .myself {
    padding: 45px 5px 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .myself .myselfLeft {
    width: 100%;
  }
  .myself .myselfRight {
    width: 100%;
  }
  #about .profileimg {
    margin: auto;
    width: 90%;
  }
  #about .aboutme {
    line-height: 1.2;
  }
  #about .aboutme p {
    font-size: 16px;
    margin: 15px 0;
  }
  .skillsdiv h2 {
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
  }
  .skillsdiv {
    padding: 0;
  }
  .skillsdiv div img {
    height: auto;
    width: 60px;
  }
  #project .project1 {
    padding: 20px 10px;
  }
  #project .project1 img:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    z-index: 11;
  }
  #project .project1 .btns {
    margin-left: -20px;
  }
  #contact {
    padding: 30px 10px;
  }
  footer h1 {
    font-size: 26px;
  }
  footer p {
    font-size: 16px;
    line-height: 1.3;
    margin: 10px 0;
  }
  footer .accounts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  footer .accounts div {
    margin-top: 20px;
  }
  footer .accounts div:hover > i, footer .accounts div a:hover > i {
    padding-bottom: 8px;
    color: #376bda;
  }
}

#pic .profile {
  position: relative;
  width: 320px;
}

#pic .profile img {
  border-radius: 50%;
  width: 100%;
  margin: 20px 0;
  /* border: 2px solid black; */
  margin-left: 330px;
}

#pic .info {
  width: 800px;
  margin: auto;
  position: relative; 
  line-height: 1.6;

}

#pic .info h4 {
  font-size: 22px;
  margin: 25px 0;
  letter-spacing: 2px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}
@-webkit-keyframes glow {
  from {
      /* text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
 0 0 50px #84549b, 0 0 60px #9554b3, 0 0 70px #9554b3; */
  }

  to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px darkgoldenrod, 0 0 40px orange, 0 0 50px yellow,
          0 0 60px yellow;
  }
}

#le{
  /* border: 10px black solid; */
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /* background-color: red; */
}
#le>div{
  width: 33%;
  /* border: 2px red solid; */
}
#le>div>img{
  width: 100%;
  border-radius: 50%;
}
#le>div>p{
  font-weight: 900;
  font-size: 200px;
}

.item{
  /* border: 1px solid black; */
  height: 389px;
   margin-left: 20px;
  width: 97%; 
  height: 412px;
}